body {
    font-family: Raleway, sans-serif;
}

.estilo-boton-1 {
    background-color: transparent;
    color: #2A7AE4;
    border-color: #2A7AE4;
}

.estilo-boton-2 {
    background-color: #2A7AE4;
    color: #ffffff;
    border: none;
}