<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Tienda Virtual | Alura Geek</title>
        <link rel="icon" type="image/x-icon" href="../img/my_favicon.PNG">
        <link href="../css/reset.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
        <link href="../css/login-page/header-login.css" rel="stylesheet">
        <link href="../css/home-page/contacto.css" rel="stylesheet">
        <link href="../css/footer.css" rel="stylesheet">
        <link href="../css/products-page/productos.css" rel="stylesheet">
        <link href="../css/home-page/galeria-productos/img-productos.css" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="logo-busqueda__container">
                <img src="../img/Logo.png" alt="Logo de Alura Geek">
                <div class="busqueda__container">
                    <input class="barra-busqueda" type="text" placeholder="¿Qué deseas buscar?">
                    <i class='bx bx-search-alt-2 bx-sm'></i>
                </div>
            </div>
        </header>
        <main>
            <section class="galeria">
                <div class="galeria__container">
                    <div class="galeria__titulo__container">
                        <h2 class="galeria__titulo">Todos los productos</h2>
                        <a href="./add-product.html"><button id="agregar-producto-btn" class="estilo-boton-2">Agregar Producto</button></a>
                    </div>
                    <ul class="productos__list">
                        <li class="productos__item">
                            <div class="producto__imagen taza">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Taza Stormtrooper</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen lego">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Lego Darth Vader</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen yoda">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Figura Yoda</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen stormtrooper">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Figura Stormtrooper</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen grogu">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Figura Grogu</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen kylo-ren">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Figura Kylo Ren</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen control-xbox">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Control X-Box Blanco</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen play-5">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Play 5 Azul</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen nes">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Nintendo NES</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen control-switch">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Controles Nintendo Switch</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen xbox-negro">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">X-Box Negro</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen game-boy">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Game Boy Color</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen camisa-atari">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Camisa Atari</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen camisa-nes">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Camisa SNES</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen sonic">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Figura Sonic</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen radio">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Radio Rosado</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen lentes-vr">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Lentes VR</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                        <li class="productos__item">
                            <div class="producto__imagen pikachu">
                                <div class="icon__container">
                                    <i class='bx bxs-trash-alt bx-tada-hover' ></i>
                                    <i class='bx bxs-pencil bx-tada-hover'></i>
                                </div>
                            </div>
                            <h4 class="producto__nombre">Figura Pikachu</h4>
                            <p class="producto__precio">$ 60,00</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="contacto">
                <div class="contacto__container">
                    <img src="../img/Logo.png" alt="Logo de Alura Geek" class="contacto__logo">
                    <ul class="contacto__list">
                        <li class="contacto__item">Quienes somos</li>
                        <li class="contacto__item">Política de privacidad</li>
                        <li class="contacto__item">Programa de fidelidad</li>
                        <li class="contacto__item">Nuestras tiendas</li>
                        <li class="contacto__item">Quiero ser franquiciado</li>
                        <li class="contacto__item">Anuncie aquí</li>
                    </ul>
                    <form action="#" class="contacto__formulario">
                        <h2>Hable con nosotros</h2>
                        <div class="contacto__campo">
                            <label for="campo-nombre" class="contacto__campo__label">Nombre</label>
                            <input type="text" id="campo-nombre" name="nombre" class="contacto__campo__input" required autocomplete="off"/>
                        </div>
                        <textarea id="campo-mensaje" name="mensaje" rows="4" placeholder="Escribe tu mensaje" class="contacto__campo__input" required autocomplete="off"></textarea>
                        <input type="submit" value="Enviar mensaje" class="estilo-boton-2" id="boton-enviar">
                    </form>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer__container">
                <h5 class="footer__info">Desarrollado por Samuel Reyes Suárez</h5>
                <h5 class="footer__info">2022</h5>
            </div>
        </footer>
    </body>
</html>