.contacto {
    background: #eaf2fd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem 5rem;
    width: 75%;
    height: 13rem;
}

.contacto__list, .contacto__formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contacto__formulario {
    width: 40%
}

.contacto__campo {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.contacto__campo__input {
    border: none;
    outline: none;
    padding-left: .75rem;
}

.contacto__campo__input:not(#campo-mensaje){
    height: 2rem;
}

.contacto__campo__label {
    font-weight: lighter;
    font-size: .75rem;
    padding-top: .75rem;
    padding-left: .75rem;
}

.contacto__campo__input::placeholder {
    font-size: .75rem;
}

.contacto__campo__input:focus{
    border-bottom: 2px solid #0073e6;
}

#boton-enviar {
    width: 25%;
    height: 3rem;
}

.mensaje-formulario{
    margin-left: 2rem;
    color: green;
    font-size: .75rem;
}