.taza {
    background: url("../../../img/taza-stormtrooper.png") no-repeat center / cover;
}

.lego {
    background: url("../../../img/lego-darth-vader.png") no-repeat center / cover;
}

.yoda {
    background: url("../../../img/yoda.png") no-repeat center / cover;
}

.stormtrooper {
    background: url("../../../img/stormtrooper.png") no-repeat center / cover;
}

.grogu {
    background: url("../../../img/grogu.png") no-repeat center / cover;
}

.kylo-ren {
    background: url("../../../img/kylo-ren.png") no-repeat center / cover;
}

.control-xbox {
    background: url("../../../img/control-xbox.png") no-repeat center / cover;
}

.play-5 {
    background: url("../../../img/play-5.png") no-repeat center / cover;
}

.nes {
    background: url("../../../img/nes.png") no-repeat center / cover;
}

.control-switch {
    background: url("../../../img/nintendo-switch.png") no-repeat center / cover;
}

.xbox-negro {
    background: url("../../../img/x-box.png") no-repeat center / cover;
}

.game-boy {
    background: url("../../../img/game-boy.png") no-repeat center / cover;
}

.camisa-atari {
    background: url("../../../img/camisa-atari.png") no-repeat center / cover;
}

.camisa-nes {
    background: url("../../../img/camisa-nes.png") no-repeat center / cover;
}

.sonic {
    background: url("../../../img/sonic.png") no-repeat center / cover;
}

.radio {
    background: url("../../../img/radio.png") no-repeat center / cover;
}

.lentes-vr {
    background: url("../../../img/lente-vr.png") no-repeat center / cover;
}

.pikachu {
    background: url("../../../img/pikachu.png") no-repeat center / cover;
}